body {
    overflow-x: hidden;
}

.list-group-item {
    transition: all .2s ease-in-out;
}
.badge {
    margin-right: 40px; }
.list-group-item a {
    padding-left: 40px;
}
.list-group-item:hover {
    background: #000;
    font-weight: bold;
    transform: scale(1.1);
}
.list-group-item:hover a {
    color: #fff;
    text-decoration: none;
}