<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<ul class="list-group">
    <% List.forEach(function (item) { %>
    <li class="list-group-item">
        <span class="badge"><%= moment(item.createdAt).format('YYYY / MM / DD') %></span>
        <a href="<%= item.url %>"><%= item.name %></a>
    </li>
    <% }) %>
</ul>