<% List.forEach(function (item) { %>
<li class="list-group-item">
    <span class="badge"><%= moment(item.createdAt).format('YYYY / MM / DD') %></span>
    <a href="<%= item.url %>"><%= item.name %></a>
</li>
<% }) %>